<h1>Collectible List View Test Page</h1>

<div class="form-group">
    <label for="name">Name of Item</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="newCollectible.name" name="name"
           #name="ngModel">
</div> 
<div>
	<button type="submit" class="btn btn-success" (click)="addCollectible()">Add</button>
</div>

<!-- <section class="main">
	<header class="header">
		<h3>List of Collectibles</h3>
		<ul class="collectible-list">
			<li *ngFor="let item of collectibles">
				<div class="view">
					<label>{{ item.name }}</label>
				</div>
			</li>
		</ul>
	</header>
</section> -->
