<h1>Collectible List View Test Page</h1>
	<!-- <label for="name">Name of Item</label> -->
    <input class="new-collectible" placeholder="Name of new collectible?" autofocus=""
           [(ngModel)]="newCollectible.name" (keyup.enter)="addCollectible()">
           <!-- [(ngModel)]="newCollectible.name" name="name"
           #name="ngModel"> -->
<!-- <div>
	<button type="submit" class="btn btn-success" (click)="addCollectible()">Add</button>
</div> -->

<!-- <section class="main" *ngIf="collectibles.length > 0"> -->
<section class="main">
	<header class="header">
		<h3>List of Collectibles</h3>
		<ul class="collectible-list">
		<!-- <li>{{ collections.name }}</li> -->
			<li *ngFor="let collectible of collectibles">
				<label>{{ collectible.name }}</label>
			</li>
		</ul>
	</header>
</section>
