<div class="container">
  <div [hidden]="submitted">
    <h1>Collectible Form</h1>
    <form (ngSubmit)="onSubmit()" #collectibleForm="ngForm">
      <div class="form-group">
        <label for="name">Name of Item</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="num">Collectible Worth</label>
        <select class="form-control" id="num"
               [(ngModel)]="model.num" name="num"
               #num="ngModel">
               <option *ngFor="let num of worth" [value]="num">{{num}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
               [(ngModel)]="model.description" name="description"
               #located="ngModel">
      </div>

      <div class="form-group">
        <label for="located">Where is Collectible Located?</label>
        <input type="text" class="form-control" id="located"
               [(ngModel)]="model.located" name="located"
               #located="ngModel">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!collectibleForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newCollectible(); collectibleForm.reset()">New Collectible</button>
      <i>with</i> reset

      &nbsp;&nbsp;
      <button type="button" class="btn btn-default" (click)="newCollectible()">New Collectible</button>
      <i>without</i> reset

     <!-- NOT SHOWN IN DOCS -->
      <!-- <div>
        <hr>
        Name via form.controls = {{showFormControls(collectibleForm)}}
      </div> -->
     <!-- - -->
    </form>
  </div>

  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Collectible Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Collectible Worth</div>
      <div class="col-xs-9 pull-left">{{ model.num }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Collectible Description</div>
      <div class="col-xs-9 pull-left">{{ model.description }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Collectible Location</div>
      <div class="col-xs-9 pull-left">{{ model.located }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>

<!-- ====================================================  -->
  <!-- <div>
    <form> -->

       <!-- ... all of the form ... -->

    <!-- </form>
  </div> -->

<!-- ====================================================  -->
<hr>
<style>
  .no-style .ng-valid {
  border-left: 1px  solid #CCC
}

  .no-style .ng-invalid {
  border-left: 1px  solid #CCC
}
</style>
<!-- <div class="no-style" style="margin-left: 4px">
  <div class="container">
      <h1>Hero Form</h1>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" required>
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text" class="form-control" id="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control" id="power" required>
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div> -->

  <!-- ====================================================  -->
  <hr>
  <!-- <div class="container">
      <h1>Hero Form</h1>
      <form>
        {{diagnostic}}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="model.name" name="name">
        </div>

        <div class="form-group">
          <label for="alterEgo">Alter Ego</label>
          <input type="text"  class="form-control" id="alterEgo"
                 [(ngModel)]="model.alterEgo" name="alterEgo">
        </div>

        <div class="form-group">
          <label for="power">Hero Power</label>
          <select class="form-control"  id="power"
                  required
                  [(ngModel)]="model.power" name="power">
            <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

      </form>
  </div> -->

  <!-- EXTRA MATERIAL FOR DOCUMENTATION -->
  <!-- <hr>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="model.name" name="name">
    TODO: remove this: {{model.name}}
  <hr>
    <input type="text" class="form-control" id="name"
           required
           [ngModel]="model.name" name="name"
           (ngModelChange)="model.name = $event">
    TODO: remove this: {{model.name}}
  <hr>
       <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name"
         #spy>
       <br>TODO: remove this: {{spy.className}}

</div> -->


<!-- 
Copyright 2017 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->